<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://192.168.12.76:8080/SRLeaderRes/app/SRLeaderBIZ76/app.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://myapp-1252856730.cossh.myqcloud.com/SRLeaderBIZ/IOS/xjt021.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://myapp-1252856730.cossh.myqcloud.com/SRLeaderBIZ/IOS/xjt021.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ju.xjtbiz</string>
				<key>bundle-version</key>
				<string>0.0.6</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>小居头商家版App</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
